extends ../../layouts/restricted-layout

block append head
  title="Контрольная панель администратора системы"

block content
  .col-sm-12
    div(style="height:50px")
    if errors.error
      .alert.alert-danger #{errors.error}
    .js-tabs-panel.row
      .col-xs-12.col-sm-2.no-padding-left
        include includes/menu
        +admin-menu('dashboard')
      .col-xs-12.col-sm-10.pull-right.tab-content.no-padding-left.no-padding-right
        #graduates-list.panel.panel-default
          .panel-heading Список выпускников
          .panel-body
            if(flashMessage && flashMessage.success)
              .alert.alert-success #{flashMessage.success}
            if(flashMessage && flashMessage.error)
              .alert.alert-danger #{flashMessage.error}
            table.table.table-striped#table-sort
              thead
                tr
                  th Идентификатор
                  th Имя
                  th Изображение
                  th Должность
                  th Выпуск
                  th Факультет
                  th Заглавная цитата
                  th Полная цитата
                  th Текст
                  th Создан
              tbody
                if graduates
                  each graduate in graduates
                    tr
                      td #{graduate.id}
                      td #{graduate.fullName}
                      td #{graduate.img}
                      td #{graduate.occupancy}
                      th #{graduate.graduatedIn}
                      td #{graduate.department}
                      td #{graduate.lead}
                      td #{graduate.fullLead}
                      td #{strip(graduate.text, 100)}
                      td #{graduate.createdAt}

