table.table.table-striped#table-sort
  thead
    tr
      th Идентификатор
      th Имя
      th Изображение
      th Должность
      th Выпуск
      th Факультет
      th Заглавная цитата
      th Полная цитата
      th Текст
      th Создан
  tbody
    if graduates
      each graduate in graduates
        tr
          td #{graduate.id}
          td #{graduate.fullName}
          td #{graduate.img}
          td #{graduate.occupancy}
          th #{graduate.graduatedIn}
          td #{graduate.department}
          td #{graduate.lead}
          td #{graduate.fullLead}
          td #{strip(graduate.text, 100)}
          td #{graduate.createdAt}