p Вам пришёл новый запрос на админинстрирование сайта.
p От:
  ul
    li #{email}
    li #{firstName}
    li #{lastName}
p Вы можете
  ul
    li
      a(href="#{applyLink}") Принять запрос
    li
      a(href="#{declineLink}") Отклонить запрос

