extends ../layouts/main-layout

block append head
  title="Выпускники - Институт Математики и Информационных Технологий (Омск)"
  link(rel='stylesheet', href='css/graduates.css')
  script(src='js/component/preview-story-component.js')
  script(src='js/component/show-full-story-component.js')
  script(src='js/init-graduates.js')
block content
  include ../includes/header
  #content
    if errors.error
      .alert.alert-danger #{errors.error}
    ul.stories-list
      each graduate in graduates
        li.stories-list__item.js-show-story(id="story_#{graduate.id}", data-id='#all-story_#{graduate.id}')
          h3 «#{graduate.lead}»
          img.stories-list__photo(src="#{graduate.img}")
          h4 #{graduate.fullName},
          p #{graduate.occupancy}
  .story-container.js-story-container
    .story-container-shadow
    .story-content
      ul
        .story-close
        each graduate in graduates
          li.stories-list__all-story(id="all-story_#{graduate.id}")
            .all-story__avatar
              img.all-story__photo(src="#{graduate.img}")
              h4 #{graduate.fullName},
              p #{graduate.occupancy},
              p #{graduate.graduatedIn},
              p #{graduate.department}.
            .all-story__story
              h4 «#{graduate.fullLead}»
              | !{graduate.text}
  include ../includes/footer

