extends ../layouts/main-layout

block append head
  script(type='text/javascript', src='js/slider.js')
  script(src='js/jquery.bxslider.min.js')
  script(src='js/jquery.easing.1.3.js')
  link(rel='stylesheet', href='css/jquery.bxslider.css')
  title="ИМИТ - Институт Математики и Информационных Технологий (Омск)"

block content
  include ../includes/header
  #content
    ul.bxslider
      li.story-slide
        img.story-slider__photo(src='/img/graduates/nikolaev.jpg')
        .story-slider__info
          h3 &laquo;Идеальный студент - это такой, которого хочется любить!&raquo;
          p Интервью с деканом ИМИТ
          h4 В.Б.Николаевым
          a.js-show-story(href='#', id="story_nikolaev", data-id='#all-story_nikolaev') подробнее
      each graduate in graduatesTop
        li.story-slide
          img.story-slider__photo(src='#{graduate.img}')
          .story-slider__info
            h3 #{graduate.lead}
            h4 #{graduate.fullName},
            p #{graduate.occupancy}
            a(href='graduates.html') читать все истории
    #myController
      span.jFlowControl
      span.jFlowControl
      span.jFlowControl
    hr.content__line
    h3 Что такое ИМИТ?
    p.line-height-7
      | Институт Математики и Информационных Технологий (ранее — математический факультет) — для тех,
      | кто отличает аксиому от теоремы, для тех, кто любит решать трудные задачи и не боится их.
      | Кто хочет стать высококлассным программистом и понимает, что без математики в этом деле не обойтись.
      | У нас 80 мест планового приема. Чтобы попасть на них, нужно быть в первых двух-трех сотнях
      | омских школьников по результатам ЕГЭ (математика).
    h3 Две специальности и множество специализаций
    .branches
      .header__light
      ul.branches-list
        li.branches-list__item
          .branches-list__img
            img(src='img/math_and_inform.png')
          br
          h3 Прикладная математика и информатика
          br
        li.branches-list__item
          .branches-list__img
            img(src='img/math_and_inform_teach.png')
          br
          h3 Магистратура (прикладная математика и информатика)
          br
    h4
      | Высококвалифицированные преподаватели
      p.line-height-7
        | На девяти кафедрах факультета работают полтора десятка докторов наук,
        | большинство остальных преподавателей – доценты, кандидаты наук.
        p
          h4
            | Перспективы трудоустройства
            p.line-height-7
              | Судя по обращениям на факультет работодателей, потребность в выпускниках матфака испытывают компании, занимающиеся разработкой программного обеспечения на заказ, Интернет-бизнес, а также банки, страховые и инвестиционные компаниии, Администрация города и
              | Правительство Омской области, учебные и научные учреждения, конструкторские бюро и промышленные предприятия.
              br
              br
              | Выпускники факультета легко найдут себе работу по специальности не только в нашем регионе, но и за его пределами, в том числе в США,
              | Великобритании, Канаде или Германии.
              p
                ul.stories-list
                  each graduate in graduatesBottom
                    li.stories-list__item.js-show-story(id="story_#{graduate.id}", data-id='#all-story_#{graduate.id}')
                      h3 «#{graduate.lead}»
                      img.stories-list__photo(src="#{graduate.img}")
                      h4 #{graduate.fullName},
                      p #{graduate.occupancy}
                a.all-stories(href='graduates.html') Читать все истории
  .story-container.js-story-container
    .story-container-shadow
    .story-content
      ul
        .story-close
        li.stories-list__all-story(id="all-story_nikolaev")
          .all-story__avatar
            img.all-story__photo(src="/img/graduates/nikolaev.jpg")
            h4 В.Б.Николаев,
            p декан ИМИТ.
          .all-story__story
            h4 &laquo;Идеальный студент - это такой, которого хочется любить!&raquo;
            include ../includes/nikolaev-interview
        each graduate in graduatesBottom
          li.stories-list__all-story(id="all-story_#{graduate.id}")
            .all-story__avatar
              img.all-story__photo(src="#{graduate.img}")
              h4 #{graduate.fullName},
              p #{graduate.occupancy},
              p #{graduate.graduatedIn},
              p #{graduate.department}.
            .all-story__story
              h4 «#{graduate.fullLead}»
              | !{graduate.text}
  include ../includes/footer
